html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;

	font-size: 2rem;
	font-weight: 400;
	line-height: 1.6;
}

.App {
	width: 100vw;
	height: 100vh;

	background-color: var(--purple-100);
}

.container {
	display: grid;
	grid-template-columns: minmax(26rem, 30rem) 1fr;
	grid-gap: 1.5rem;
}