:root {
	--white: #FFFFFF;

	--purple: #2D0066;
	--purple-50: #F8F2FF;
	--purple-100: #fcf9ff;
	--purple-200: #DCC9F5;
	--purple-300: #CBABF5;
	--purple-400: #6e2cc7;
	--purple-500: #8c48e5;
	--purple-800: #381961;
}